@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 100;
	src: local('NotoSansKR-Thin-Hestia'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/eot/NotoSansKR-Thin-Hestia.woff?#iefix') format('embedded-opentype'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/woff/NotoSansKR-Thin-Hestia.woff') format('woff');
}

@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 300;
	src: local('NotoSansKR-Light-Hestia'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/eot/NotoSansKR-Light-Hestia.woff?#iefix') format('embedded-opentype'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/woff/NotoSansKR-Light-Hestia.woff') format('woff');
}

@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 350;
	src: local('NotoSansKR-DemLight-Hestia'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/eot/NotoSansKR-DemLight-Hestia.woff?#iefix') format('embedded-opentype'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/woff/NotoSansKR-Thin-Hestia.woff') format('woff');
}

@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 400;
	src: local('NotoSansKR-Regular-Hestia'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/eot/NotoSansKR-Regular-Hestia.woff?#iefix') format('embedded-opentype'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/woff/NotoSansKR-Regular-Hestia.woff') format('woff');
}

@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 500;
	src: local('NotoSansKR-Medium-Hestia'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/eot/NotoSansKR-Medium-Hestia.woff?#iefix') format('embedded-opentype'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/woff/NotoSansKR-Medium-Hestia.woff') format('woff');
}

@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 700;
	src: local('NotoSansKR-Bold-Hestia'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/eot/NotoSansKR-Bold-Hestia.woff?#iefix') format('embedded-opentype'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/woff/NotoSansKR-Bold-Hestia.woff') format('woff');
}

@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 900;
	src: local('NotoSansKR-Black-Hestia'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/eot/NotoSansKR-Black-Hestia.woff?#iefix') format('embedded-opentype'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/woff/NotoSansKR-Black-Hestia.woff') format('woff');
}
		
h2 {
	font-family: 'NotoSansKR';
}

a {
	font-family: 'NotoSansKR';
}

p {
	font-family: 'NotoSansKR';
}

span {
	font-family: 'NotoSansKR';
}

#menu {
	width: 100%;
	height: 96px;
	position: fixed;
	z-index: 10;
	background-color: RGBA(251, 251, 251, 0.5);
	color: white;
	text-align: justify;
    letter-spacing: 1px;
    line-height: 96px;
	display: inline-flex;
	
	border-bottom: 2.42px solid transparent;
	-webkit-border-image: url(img/navBorder.png) 0 0 30 0;
    -o-border-image: url(img/navBorder.png) 0 0 30 0;
    border-image: url(img/navBorder.png) 0 0 30 0;
}

#navLogo {
	min-width: 87px;
	width: 87px;
	min-height: 48px;
	margin: 24px 24px 24px 72px;
}

#menu #menu-nav {
	position: absolute;
	left: 50%;
	margin-left: -270px;
}

#menu #trans-nav {
	border-radius: 25px;
	border: 3px solid white;
	right: 37px;
	position: absolute;
	height: 22px;
	margin: 28px;
	padding: 6px 24px;
	line-height: 22px;	
}

#menu a {
	color: #898989;
}

#menu-nav a {
	padding-right: 10px;
}

#menu a#home {
	color: #D78179;
}

#menu a#kor {
	color: #D78179;
}

.inner-padding {
	padding-left: 20px;
}

.section {
}

.loose {
	z-index: 10;
	position: absolute;
}

.horizon-center {
	position: absolute;
	left: 50%;
}

.center-center {
	position: absolute;
	top: 50%;
	left: 50%;
}

#footer {
	color: #9a9a9a;
	background-color: #e9e9e9;
	height: 150px;
}