/* @import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css); */
/*
	@font-face {
		font-family: 'NotoSansKR';
		src: url('https://s3-ap-northeast-1.amazonaws.com/northpenguin/notoSana-hestia/NotoSansKR-Regular-Hestia.woff') format('woff')
	}
*/
@font-face {
	font-family: 'NotoSansKR';
	src: local('NotoSansKR-Regular-Hestia'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/eot/NotoSansKR-Regular-Hestia.woff?#iefix') format('embedded-opentype'),
	url('https://d1syjqtm3n9oqz.cloudfront.net/notoSana-hestia/woff/NotoSansKR-Regular-Hestia.woff') format('woff')
}
		
h2 {
	font-family: 'NotoSansKR';
}

a {
	font-family: 'Lucida Grande';
}

#menu {
	width: 100%;
	height: 96px;
	position: fixed;
	z-index: 10;
	background-color: RGBA(251, 251, 251, 0.5);
	color: white;
	text-align: justify;
    letter-spacing: 1px;
    line-height: 96px;
	display: inline-flex;
	
	border-bottom: 2.42px solid transparent;
	-webkit-border-image: url(img/navBorder.png) 0 0 30 0;
    -o-border-image: url(img/navBorder.png) 0 0 30 0;
    border-image: url(img/navBorder.png) 0 0 30 0;
}

#navLogo {
	min-width: 87px;
	width: 87px;
	min-height: 48px;
	margin: 24px 24px 24px 72px;
}

#menu #menu-nav {
	position: absolute;
	left: 50%;
	margin-left: -270px;
}

#menu #trans-nav {
	border-radius: 25px;
	border: 3px solid white;
	right: 37px;
	position: absolute;
	height: 22px;
	margin: 28px;
	padding: 6px 24px;
	line-height: 22px;	
}

#menu a {
	color: #898989;
}

#menu-nav a {
	padding-right: 10px;
}

.inner-padding {
	padding-left: 20px;
}

#menu a#home {
	color: #D78179;
}

#menu a#kor {
	color: #D78179;
}

.section {
	height: auto !important;
}

#videoLogo {
	position: relative;	
	display: block;
	margin: 0 auto;
	top: 45px;
	z-index: 10;
	opacity: 0.0;
	cursor: pointer;
}

.loose {
	z-index: 10;
	position: absolute;
}

.horizon-center {
	left: 50%;
}

.center-center {
	top: 50%;
	left: 50%;
}

#section3 {
	background-color: white;
}

#section4 {
	background-color: green;
}

#footer {
	color: #9a9a9a;
	background-color: #e9e9e9;
	height: 150px;
}