#section3 {
    background: url(img/bg2.jpg);
    background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#creator-growth {
	width: 475px;
	bottom: 117px;
	margin-left: -440px;
}

#section3 #title {
	
}

#section3 #content {
	
}