#section2 {
    background: url(img/bg1.png);
    background-position: center center;
	background-attachment: fixed;    
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	display: inherit !important;
}

#section2 #loose1 {
	left: 0px;
	top: -126px;
}