#section2 {
    background: url(img/bg1.png);
    background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	display: inherit !important;
}

#section2 .fp-tableCell {
	z-index: 5;
	border: 20px solid transparent;
	-webkit-border-image: url(img/section2-border.png) 20;
    -o-border-image: url(img/section2-border.png) 20;
    border-image: url(img/section2-border.png) 20;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#asia {
	width: 420px;
	margin-top: -185px;
	margin-left: -445px;
	z-index: 5;
}

#map {
	width: 425px;
	margin-top: -215px;
	margin-left: -256px;
}

#map-back {
	width: 840px;
	margin-top: -200px;
	margin-left: -265px;
	
}

#section2 #title {
	margin-top: -45px;
	margin-left: 137px;
	font-size: 12.5px;
	font-weight: 600;
	color: #333333;
}

#section2 #content {
	margin-top: 17px;
	margin-left: 137px;
	font-size: 10px;
	color: #9a9a9a;
}

#section2 #loose1 {
	top: -160px;
	left: 0px;
	width: 230px;
}